@model List<Loteamento>;

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #04AA6D;
            color: white;
        }

        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial;
            padding: 10px;
            background: #f1f1f1;
        }

        /* Header/Blog Title */
        .header {
            padding: 30px;
            text-align: center;
            background: black;
            background-image: url("Loteamento.jpeg");
            /*opacity: 0.3;*/
        }

        .header h1 {
            font-size: 50px;
        }

        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        /* Style the topnav links */
        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Create two unequal columns that floats next to each other */
        /* Left column */
        .leftcolumn {
            float: left;
            width: 100%;
        }

        /* Right column */
        .rightcolumn {
            float: left;
            width: 25%;
            background-color: #f1f1f1;
            padding-left: 20px;
        }

        /* Fake image */
        .fakeimg {
            background-color: #aaa;
            background-image: url("Nossa_Empresa1.jpg");
            /* height: 25%;
               margin: 0 auto;
               position: relative;*/
            width: 100%;
            padding: 20px;
        }

        /* Add a card effect for articles */
        .card {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Footer */
        .footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <div class="header">
        <h1 style="color:white;text-align:center;">LOTEAMENTOS SANTA TERESA</h1>
        <p style="color:white;text-align:center;">Escolha o melhor local para construir sua casa.</p>
    </div>

   <div class="topnav">
 <!--        <a asp-controller="Loteamento" asp-action="Listagem">Listar</a> -->
        <a asp-controller="Loteamento" asp-action="Cadastro">Cadastrar</a>
  <!--      <a asp-controller="Loteamento" asp-action="Editar">Alterar</a> -->

    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>Listagem de Loteamentos</h2>
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Nome Loteamento</th>
                        <th>Nome Cliente</th>
                        <th>CPF</th>
                        <th>Valor Lote</th>
                        <th>Entrada R$</th>
                        <th>Qtd Prestações</th>
                        <th>Valor Prestação</th>
                        <th>Data Contrato</th>
                        <th>Operacoes</th>

                    </tr>

                     @foreach (Loteamento l in Model)
                    {
                        <tr>
                            <td>@l.Id</td>
                            <td>@l.Nome_Lote</td>
                            <td>@l.Nome_Cliente</td>
                            <td>@l.CPF</td>
                            <td>@l.Valor_Lote</td>
                            <td>@l.Entrada</td>
                            <td>@l.Qtd_Parcelas</td>
                            <td>@l.Valor_Parcela</td>
                            <td>@l.Data_Contrato.ToShortDateString()</td>
                             <td>
                                <a href="/Loteamento/Editar?Id=@l.Id">Alterar</a>|
                                <a href="/Loteamento/Excluir?Id=@l.Id"
                                onclick="return confirm('Desesaja remover esse item?');">Remover</a>
                            </td>

                        </tr>
                    }

              </table>

</div>
</div>

</div>

<div class="footer">
    <h2>Footer</h2>
</div>

</body>

</html>
